@font-face {
	font-family: "ProximaNova Bold";
	src: url("fonts/ProximaNova-Bold.ttf") format("opentype");
}

@font-face {
	font-family: "ProximaNova Regular";
	src: url("fonts/ProximaNova-Regular.ttf") format("opentype");
}
